@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");

:root {
  --primary: 223 100% 50%;
  --bg: hsl(223, 30%, 96%);
  --text: hsl(223, 90%, 8%);
  --text-light: hsl(223, 24%, 36%);
}

.container {
  border-radius: 20px;
  padding: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  resize: horizontal;
  overflow: auto;
}

div::-webkit-resizer {
  background-color: transparent;
}

.blog-card {
  max-width: 900px;
  min-height: 260px;
  background-color: var(--bg);
  border-radius: 16px;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.35);
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.175);
}

.blog-image {
  flex: 1 0 240px;
  min-height: 100%;
  max-height: 400px;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.blog-content {
  flex: 3 1 400px;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}

.title {
  font-size: 30px;
  font-weight: 800;
}

.title-right {
  font-size: 30px;
  font-weight: 800;
  text-align: right;
}

.list li {
  list-style-type: disc;
  list-style-position: outside;
  text-align: right;
  font-size: 1.1em;
}

.info {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  padding-top: 20px;
}

.btn {
  flex: 1 0 240px;
  max-width: 100%;
  padding: 14px 32px;
  background-color: blue;
  border-radius: 10px;
  color: var(--bg);
  font: inherit;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  text-align: center;
}

.info>button:hover {
  background-color: hsl(var(--primary) / 0.9);
}

.info a {
  color: white;
  text-decoration: none;
}

video {
  display: flex;
  margin: auto;
  border: 1px solid white;
  width: 80%;
}

.img-gallery {
  width: 80%;
  margin: 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, 1fr);
  gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.img-gallery>img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  transition: 0.6s ease;
}

.img-gallery img:hover {
  transform: scale(0.85);
  box-shadow: 10px 26px 60px rgba(68, 77, 136, 0.3);
}

.leiras {
  font-size: 1.1em;
  text-align: center;
}